<h1 class="welcome">Welcome!</h1>

<div class= 'categories'>
  <% @categories.order("created_at desc").each do |category| %>
    <div class="category">
      <%= link_to category.name, category_path(category) %>
      <%= image_tag(src="http://lorempixel.com/400/200/food/") %>
    </div>
  <%end%>
</div>

<div class = "restaurants">
<h3>  <%= link_to 'Restaurants', restaurants_path %> </h3>
  <% @restaurants.order("created_at desc").each do |restaurant| %>
    <div class= "restaurant">
      <%= link_to restaurant.name, restaurant_path(restaurant) %>
    </div>
  <%end%>
</div>