<h1>Reservations</h1>

<% if current_user %>
  <%= @user.reservations.each do |reservation| %>

    <div>
      <h3>reservation.date</h3>
      <p>reservation.location</p>
      <p>reservation.party_size</p>
    </div>

  <% end %>

<% else %>
  <p>Fool, you got no reservations!</p>
<% end %>








