
<div class="restaurant">
  <h1> <%= restaurant.name  %></h1>
  <p class ="location">  <strong>Location:</strong>  <%= restaurant.location %></p>
  <p class ="capacity">  <strong>Capacity:</strong>  <%= restaurant.capacity %></p>
  <%= link_to 'Make a Reservation', restaurant_path(restaurant) %>

