
<div class="restaurant">
  <h1> <%= restaurant.name  %></h1>
  <ul class="small-block-grid-2">
    <div class ="restinfo">
      <p class ="location">  <strong>Location:</strong>  <%= restaurant.location %></p>
      <p class ="capacity">  <strong>Capacity:</strong>  <%= restaurant.capacity %></p>
    </div>
    <div class="profpic">
      <p class ="profile_pic"> <img src="http://robohash.org/{{ address }}"></p>
    </div>
  </ul>
</div>

  <%= link_to 'Make a Reservation', restaurant_path(restaurant) %>




