<h1>Categories</h1>

<% @categories.order("name asc").each do |category| %>
  <%= link_to category.name, "/categories/#{category.id}" %><br>
 <%= image src= "http://assets22.pokemon.com/assets/cms2/img/pokedex/full/#{pokemon.number.to_s.rjust(3, '0')}.png"} %>

<%end%>
