<h1> <%= @category.name %></h1>


  <% @category.restaurants.order("created_at desc").each do |restaurant| %>
    <div>
      <%= link_to restaurant.name, restaurant_path(restaurant) %>
    </div>
  <%end%>

</div>